
<configuration>
    <connectionStrings>
        <add name="DBConnectionString" connectionString="Server=sql.elmcsis.com;Database=Your_DB_Name;User Id=e0782424;Password=sindhu@123;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2"/>
        <httpRuntime targetFramework="4.7.2"/>
    </system.web>
</configuration>
